apiVersion: v1
kind: Service
metadata:
  labels:
    app: hospital-scheduler
  name: hospital-scheduler
spec:
  ports:
  - name: 80-8000
    port: 80
    protocol: TCP
    targetPort: 8000
  selector:
    app: hospital-scheduler
  type: LoadBalancer
status:
  loadBalancer: {}
